Repository Maksym-Perehinets/Azure-functions: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/IaC-pipeline/main.yml, pipelines/azure-functions/alerts.yml, pipelines/azure-functions/function-dev.yml, pipelines/azure-functions/ocr.yml

Path conditions:
  pipelines/IaC-pipeline/main.yml: any file but: README.md, pipelines
  pipelines/azure-functions/alerts.yml: any of: alerts, but not: *
  pipelines/azure-functions/function-dev.yml: any of: alerts, src
  pipelines/azure-functions/ocr.yml: any of: src, but not: *

Update ocr.yml for Azure Pipelines
  pipelines/azure-functions/ocr.yml
Due: none

Update alerts.yml for Azure Pipelines
  pipelines/azure-functions/alerts.yml
Due: none

Update function_app.py
  alerts/function_app.py
Due: pipelines/IaC-pipeline/main.yml, pipelines/azure-functions/function-dev.yml

terraform config refactor
  IaC/main/modules/function/main.tf
Due: pipelines/IaC-pipeline/main.yml

Added needed directory to auto created when applying tf configuration
  IaC/main/modules/storage/main.tf
Due: pipelines/IaC-pipeline/main.yml
