Repository Maksym-Perehinets/Azure-functions: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/IaC-pipeline/main.yml, pipelines/azure-functions/function-dev.yml

Path conditions:
  pipelines/IaC-pipeline/main.yml: any file but: README.md, pipelines
  pipelines/azure-functions/function-dev.yml: any of: alerts, src

Set up CI with Azure Pipelines
  pipelines/azure-functions/alerts.yml
Due: none

Update alerts.yml for Azure Pipelines
  pipelines/azure-functions/alerts.yml
Due: none

Update requirements.txt
  alerts/requirements.txt
Due: pipelines/IaC-pipeline/main.yml, pipelines/azure-functions/function-dev.yml

Create alerts.yml
  pipelines/azure-functions/alerts.yml
Due: none

Set up CI with Azure Pipelines
  pipelines/azure-functions/ocr.yml
Due: none

Update ocr.yml for Azure Pipelines
  pipelines/azure-functions/ocr.yml
Due: none

Create ocr.yml
  pipelines/azure-functions/ocr.yml
Due: none

Update requirements.txt
  src/requirements.txt
Due: pipelines/IaC-pipeline/main.yml, pipelines/azure-functions/function-dev.yml

Update ocr.yml
  pipelines/azure-functions/ocr.yml
Due: none

Updated terraform configuration to create not only ocr but also a upload to blob notification
  IaC/main/main.tf
  IaC/main/modules/function/main.tf
  IaC/main/modules/function/variables.tf
  IaC/main/modules/storage/main.tf
  IaC/main/modules/storage/output.tf
Due: pipelines/IaC-pipeline/main.yml

removed batched from pipeline for IaC
  pipelines/IaC-pipeline/main.yml
Due: none

terraform config refactor
  IaC/main/main.tf
Due: pipelines/IaC-pipeline/main.yml

terraform config refactor
  IaC/main/modules/function/main.tf
Due: pipelines/IaC-pipeline/main.yml

Update function_app.py
  alerts/function_app.py
Due: pipelines/IaC-pipeline/main.yml, pipelines/azure-functions/function-dev.yml
