Repository Maksym-Perehinets/Azure-functions: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/IaC-pipeline/main.yml, pipelines/azure-functions/function-dev.yml

pipelines/IaC-pipeline/main.yml:
  stages:
  - stage: Commit
    displayName: Infrastructure rebuild
    condition: or(eq(variables['Build.Reason'], 'BatchedCI'), eq(variables['Build.Reason'], 'IndividualCI'), eq(variables['Build.Reason'], 'Manual'))
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: TerraformApply
  ...

pipelines/azure-functions/function-dev.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - job: AlertsJob
    displayName: Alerts Handling Job
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/heads/main'), contains(variables['Build.SourceBranch'], 'alerts'))
    steps:
    - template: templates/alerts-job.yml
      parameters:
  ...

Typo in pipeline fixed
  pipelines/IaC-pipeline/template/commit.yml
  pipelines/IaC-pipeline/template/pull-req.yml
Due: none

Update requirements.txt
  alerts/requirements.txt
Due: pipelines/IaC-pipeline/main.yml, pipelines/azure-functions/function-dev.yml

Changed aproach for workspace selection
  pipelines/IaC-pipeline/template/commit.yml
  pipelines/IaC-pipeline/template/pull-req.yml
Due: none

Changed aproach for workspace selection
  pipelines/IaC-pipeline/main.yml
  pipelines/IaC-pipeline/template/commit.yml
  pipelines/IaC-pipeline/template/pull-req.yml
Due: none

test
  IaC/main/main.tf
Due: pipelines/IaC-pipeline/main.yml

test
  pipelines/IaC-pipeline/main.yml
Due: none

test 2
  IaC/main/main.tf
Due: pipelines/IaC-pipeline/main.yml

Update function-dev.yml for Azure Pipelines
  pipelines/azure-functions/function-dev.yml
Due: none

Added proper working directory
  pipelines/IaC-pipeline/main.yml
  pipelines/IaC-pipeline/template/commit.yml
Due: none

test 3
  IaC/main/main.tf
Due: pipelines/IaC-pipeline/main.yml

changed working directory
  pipelines/IaC-pipeline/main.yml
  pipelines/IaC-pipeline/template/commit.yml
  pipelines/IaC-pipeline/template/pull-req.yml
Due: none

test 4
  IaC/main/main.tf
Due: pipelines/IaC-pipeline/main.yml

workspace approach test 4
  pipelines/IaC-pipeline/main.yml
  pipelines/IaC-pipeline/template/commit.yml
  pipelines/IaC-pipeline/template/pull-req.yml
Due: none

test 5
  IaC/main/main.tf
Due: pipelines/IaC-pipeline/main.yml

update
  pipelines/IaC-pipeline/template/commit.yml
  pipelines/IaC-pipeline/template/pull-req.yml
Due: none

test 6
  IaC/main/main.tf
Due: pipelines/IaC-pipeline/main.yml

test 7
  IaC/main/main.tf
Due: pipelines/IaC-pipeline/main.yml

update
  pipelines/IaC-pipeline/template/commit.yml
Due: none

test 8
  IaC/main/main.tf
Due: pipelines/IaC-pipeline/main.yml

typo fixed
  pipelines/IaC-pipeline/template/commit.yml
Due: none

test 9
  IaC/main/main.tf
Due: pipelines/IaC-pipeline/main.yml

udpate
  IaC/main/modules/function/main.tf
Due: pipelines/IaC-pipeline/main.yml

dev branch trigger added
  pipelines/IaC-pipeline/main.yml
Due: none

Path conditions:
  pipelines/IaC-pipeline/main.yml: any file but: README.md, pipelines
  pipelines/azure-functions/function-dev.yml: any of: alerts, src
